@import 'gradients'
@import 'vendor'

h1()
    font-size: 32px
    font-weight: bold

table()
    display: table
cell()
    display: table-cell
    vertical-align: top
row()
    display: table-row

body
    background: #191919
    font-family: "Roboto Condensed", sans-serif
    color: #e6e6e6
    padding-bottom: 100px
    min-width: 980px

.b-head
    width: 100%
    display: inline-block
    background-color #0e0e0e
    box-shadow 0 1px 0 rgba(255,255,255,.05)
    background linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.04) 100%)

    .b-logo
        display: inline-block
        float: left
        margin-left: 20px
        a
            display: inline-block
            padding: 21px
    .b-nav
        float: right
        margin-right: 30px
        font-family "Helvetica"
        font-size 13px
        counter-reset: item;
        list-style-type: none;
        
        .b-nav-item
            float: left
            color #b2b2b2
            padding: 28px
            cursor: default
            border-top 4px solid transparent

            &:before 
                margin-right 10px
                font-style: italic
                color #585858
                content: counter(item) "  "; 
                counter-increment: item 

            &.active
                border-top-color #ffa901

                &::before
                    color #ffa901


.b-construct
    position: relative
    padding-top: 40px


    for i in "s1" "s2"
        &[data-current={i}] .{i}
            table()

.b-step
    width: 100%
    position: relative

.b-btn
    display inline-block
    height 45px
    line-height 45px
    background-color #ffa901
    box-shadow 0 6px 3px rgba(0,0,0,.5), inset 0 1px 1px rgba(255,255,255,.5), inset 0 0 2px rgba(255,255,255,.3)
    //background linear-gradient(bottom, rgba(0,0,0,.1) 0%, rgba(255,255,255,.1) 100%)
    //padding: 0 85px
    cursor: pointer
    color #39270b
    font-family "Helvetica"
    font-size 15px
    font-weight bold
    text-shadow 0 1px 0 rgba(252,255,164,.45)


    &.btn-continue,
    &.btn-back
      float left
      box-shadow 0 0px 0px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.5), inset 0 0 2px rgba(255,255,255,0.3)

    &.btn-continue
      width: 60%
      &::after
        content: url('../img/rarr.png')
        top: 2px
        position: relative

    &.btn-back
      width 40%
      &::before
        content: url('../img/larr.png')
        top: 2px
        position: relative


.s1
    .model
        display: none
        &.active
            display: block

    .b-models-list
        cell()
        width: 280px

        & > div
            position: relative
            padding: 20px 45px
            h1()
            cursor: pointer

            &::after 
                content: ''
                position: absolute
                bottom: 0
                right: 0
                width 250px
                height 1px
                background-color #070707
                box-shadow 0 1px 0 rgba(255,255,255, .05)

            &.custom
                font-size: 22px
                
            &.active, &:hover
                border-radius 0 3px 3px
                background-color #0d0d0d
                background linear-gradient(bottom, rgba(255,255,255,.03) 0%, rgba(255,255,255,0) 100%)
                box-shadow 0 1px 0 rgba(255,255,255,.05), inset 0 2px 2px 2px rgba(0,0,0,.25), inset 0 0 2px rgba(0,0,0,.15)

                &::after
                    display: none

    
            &:hover
                box-shadow  0 1px 0 rgba(255,255,255,0.05), inset 0 1px 2px 1px rgba(0,0,0,0.25)


            .sub
                position: relative
                top: 1px
                vertical-align: top
                font-weight: normal
                color: #666
                font-size: 18px
            
    .b-models-description
        cell()
        height 517px
        min-width: 100px
        .model-intro
            width 100%
            height 100%
            .wrap
                width 677px
                height 100%
                padding-top: 265px
                border-radius 10px
                text-align: center
                margin: 0 auto
                position: relative
                color #131313
                background: #fff url('../img/intro.png') no-repeat center 80px 

                &::after
                    content: ''
                    display: inline-block
                    position: absolute
                    left: -40px
                    top: 240px
                    width 0
                    height 0

                    border: 20px solid transparent
                    border-right-color: #fff



                .header
                    h1()
                .description
                    font-size: 18px
                    line-height: 26px
                    margin-top: 23px

        .model
            .model-head, .model-description
                table()
                width: 100%
                .col1, .col2
                    cell()
                .col1
                    width: auto
                .col2
                    width 430px
                    padding:  0 30px 0 0

            .model-head
                margin-bottom: 20px
                .col1
                    text-align: center
                    img
                        max-height: 275px

                .header
                    h1()
                    line-height:40px
                    margin-bottom: 50px

                .pricing
                    padding: 5px
                    width 100%
                    height 55px
                    line-height 45px
                    color #808080
                    background-color #0f0f0f
                    box-shadow 0 1px 0 rgba(255,255,255,.05), inset 0 5px 5px rgba(0,0,0,.75)
                    text-align center

                .b-btn
                    float: left
                    padding: 0 85px
                    &::after
                        content: url('../img/rarr.png')
                        margin-left: 10px
                        top: 2px
                        position: relative

                        

            .model-description
                font-family "Helvetica"
                font-size 14px
                color: #9a9a9a
                line-height: 22px
                .col1
                    padding: 0 70px

                    p
                        margin-bottom: 10px

                .col2 
                    .specs-title
                        font-style: italic
                    .specs
                        margin: 10px 0
                        color: #656565
.s2
    position: relative
    display: table
    
    
    .col1, .col2
        cell()

    .col1
        width: auto

    .col2
        width: 330px
        padding: 0 30px
    
    .continue
        margin-bottom: 25px
        padding: 5px
        width 100%
        height 55px
        line-height 45px
        color #808080
        background-color #0f0f0f
        box-shadow 0 1px 0 rgba(255,255,255,.05), inset 0 5px 5px rgba(0,0,0,.75)
        text-align center

    .shipping
        position: relative
        background-color #fff
        margin: 0 40px
        padding: 30px 60px


        .header
            color #141414
            font-family "Roboto Condensed"
            font-size 32px
            font-weight bold
            padding: 15px 0
            
        .shipping-form
            position: relative
            color #141414
            font-family "Helvetica"
            font-size 15px
            width 500px
            
            label
                display: inline-block
                width: 100%
                line-height: 40px
                margin: 10px 0
                position: relative

                &::after
                    content: attr(data-hint)
                    line-height: 20px
                &::before
                    content: attr(data-hint1)
                    line-height: 40px

                &::after, &::before
                    position: absolute
                    height: 40px
                    color #7f7f7f
                    font-family "Helvetica"
                    font-size 12px
                    margin-left: 20px
                    left: 100%
                    width: 175px
                    
                span
                    line-height: 20px
                    display: inline-block
                    width: 100px

            input, textarea
                width: 350px
                float: right
                height: 40px
                font-size 15px
                padding: 0 12px
                border 1px solid #f5f5f5
                background-color #f5f5f5
                box-shadow inset 0 5px 5px rgba(0,0,0,.05)
                &:active, 
                &:focus
                    outline: none
                    border 1px solid #ffa901
                    background-color #f5f5f5
                    box-shadow 0 0 5px rgba(255,170,1,.6), inset 0 5px 5px rgba(0,0,0,.05)
            textarea
                height: 80px
                resize: none
                padding: 9px 12px

            .btn-submit
                padding: 5px
                width 280px
                height 55px
                background-color #f5f5f5
                box-shadow 0 1px 0 rgba(255,255,255,.05), inset 0 5px 5px rgba(0,0,0,.13)
                margin-left: 125px
                margin-top: 40px
                margin-bottom: 20px

                .b-btn
                    width: 100%
                    text-align: center     
                                
        

    .total
        font-family "Helvetica"
        position: relative
        width: 100%
        padding: 35px
        background-color #0f0f0f
        min-height: 535px

        .header
            color: #ccc
            font-weight: bold
            margin-bottom: 40px

            .title
                font-size 15px
            .price
                font-size: 26px
                font-family: "Roboto Condensed", sans-serif
                line-height: 43px

        .details
            table()
            width: 100%
            color #666
            font-size 13px

            .details-row
                row()

            .value, .price
                cell()
                padding-bottom: 15px

            .value .hint
                color #404040
                margin-top: 4px

            .price
                text-align right
                width: 65px
            
    .ears
        width: 670px
        margin: 0 auto
        position: relative
        padding: 0 79px
        height: 310px
        margin-top: 130px
        
        &::after
            content: url("../img/bg.png")
            position: absolute
            bottom: 17px
            margin: 0 auto
            left: 19px
    .ear
        display: inline-block
        position: relative
        width: 220px
        height: 220px
        z-index: 1

        &.invisible
            position: absolute;
            top:0 
            left: 0


        &.left .cord img
            top: -86px
            left: -79px

        &.right .cord img
            top: -86px
            left: -79px

        &.left .graphics img
            top: 110px
            left: 10px
            transform: rotate(-40deg)

        &.right .graphics
            transform: scaleX(-1)
            img
                top: 110px
                left: initial
                right: 10px
                transform: rotate(40deg)

        img
            //transition: opacity .3s linear
            opacity: 0
            position: absolute
            top: 0
            left: 0

            &.current
                opacity: 1

        
            &.first
                opacity: 1
                transition: none

    .ear.right
        float: right
        transform: scaleX(-1)
        -webkit-transform: scaleX(-1)

    .ear.left
        float: left

    .switcher-wrap
        text-align center
        user-select: none
        
        .switcher
            background-color #0f0f0f
            box-shadow 0 1px 0 rgba(255,255,255,.05), inset 0 5px 5px rgba(0,0,0,.75)
            display inline-block
            padding: 2px
            color #b2b2b2
            font-family "Helvetica"
            font-size 13px
            font-weight: normal

            div
                cursor pointer
                padding: 7px 18px
                float: left
                display inline-block
            div.active
                color #ffa901
                background-color #191919
                box-shadow 0 3px 1px rgba(0,0,0,.5), inset 0 1px 0 rgba(255,255,255,.05)
                background linear-gradient(bottom, rgba(0,0,0,.13) 0%, rgba(255,255,255,.13) 100%)

                
    .controls
        margin: 0 auto
        width: 710px
        min-height: 40px
        color #595959
        font-family "Helvetica"
        font-size 13px


        selector-type(type, pos, size=initial)
            .selector[data-type={type}] .selector-item
                background-position: pos
                background-size: size

        selector-type(base, -162px 114px)
        selector-type(cover, -50px 100px)
        selector-type(chanel, 34px -91px)
        selector-type(cap, -50px 100px)
        selector-type(graphics, -50px 100px)
        .selector[data-type=graphics]
            .selector-item
                width: 48px
                height: 48px
                background-size: 48px
                background-repeat: no-repeat
                background-position: center
                
                &::after
                    display none


        selector-type(pin, -156px -26px)
        selector-type(cord, -209px -3px, 400px)
        .selector[data-type=cord]
            .selector-items
                width: 100% !important
                &.right
                    display: none !important
            
        
        .selector-title
            line-height: 35px


        .selector-items
            display: inline-block
            width: 50%
            float: left
            
     
        .selector.same 
            .selector-items
                width: 100%
                &.right
                    display: none
        


        .selector-item
            float: left
            display: inline-block
            position: relative
            width 23px
            height 23px
            border-radius 12px
            box-shadow 0 2px 4px rgba(0,0,0,.47), inset 0 0 0 1px rgba(255,255,255,.05)
            cursor: pointer
            margin-right: 5px
            margin-bottom: 5px



            &::after
                content: ''
                position: absolute
                top 0
                left 0
                width 23px
                height 23px
                border-radius 12px
                background: linear-gradient(top, rgba(255,255,255, .3) 0%, transparent 55%, transparent  100%)
                cursor: pointer


            &.active
                box-shadow inset 0 2px 4px 0px rgba(0,0,0, .9)

                &::after
                    top: 6px
                    left: 6px
                    width 11px
                    height 11px
                    border-radius 6px
                    background-color #191919
                    box-shadow 0 2px 5px rgba(0,0,0,.75)
                    
        .jack-selector
            label
                height: 135px
                position: relative
                display: inline-block
                cursor: pointer

                &[for=angle]
                    width: 73px

                    img
                        top: 12px
                        left: -4px
                    
                &[for=straight]
                    width: 50px
                    
                    img
                        top: -28px
                        left: 37px

                img
                    position: absolute
        .cord-selector
            .selector-radio
                div
                    margin-bottom: 16px
                    margin-top: 2px

        .cord-table
            margin-top: 35px
            table()
            width: 100%
            
            .cord-col1, .cord-col2, .cord-col3
                cell()

            .cord-col1
                width: 250px
            .cord-col2
                width: 158px

    .misc
        width 700px
        margin 0 auto
        table()
        .misc-row
            row()
            .misc-col1, .misc-col2, .misc-col3
                cell()
                padding-right: 40px
                padding-bottom: 25px
                line-height: 20px

            .misc-col1
                width: 260px

            .misc-col2
                width: 230px

            label
                color: #595959
                position: relative
                line-height: 16px
                margin-bottom: 6px
                display: inline-block

                input[type=checkbox]
                    position: absolute
                    left: -20px
                    top: -3px

            input[type=text]
                width 200px
                color #595959
                font-size 13px
                padding: 15px
                outline: none
                background-color #f5f5f5
                background linear-gradient(bottom, #f5f5f5 0%, #f0f0f0 100%)
                &:focus
                    background: #fff
                
            .misc-desc
                color #7f7f7f
            

@media screen and (max-width: 1200px) 
    .b-head .nav
        padding-right: 20px 

        .nav-item
            padding 28px 18px


    .s1
        .b-models-description
            .model
                .model-head, .model-description
                    .col2
                        width: 320px
                .model-head 
                    .header
                        font-size: 24px
                        margin-bottom: 30px

                    .col1
                        img
                            max-width: 430px;

                    .b-btn
                        padding: 0 50px

                 .model-description
                    .col1
                        padding: 0 40px
        .b-models-list
            width: 205px
            & > div
                padding: 17px 15px 17px 35px
                font-size: 28px
                
                &::after
                    width: 180px

    .s2
        .col2
            width: 250px
            padding: 0 20px 0 0

        .controls
            padding-left: 20px

            .c4 .cord-table .cord-col2
                width: 140px

        .total
            padding: 20px

        .shipping .shipping-form 
            width: 390px

            input, textarea
                width: 250px



@media screen and (min-width: 1201px) and (max-width: 1351px) 

    .s1
        .b-models-description
            .model
                .model-head, .model-description
                    .col2
                        width: 380px
                .model-head 
                    .header
                        font-size: 28px
                        margin-bottom: 30px

                    .col1 img
                        max-width: 450px;

                    .b-btn
                        padding: 0 50px

        .b-models-list
            width: 250px
            & > div
                padding: 20px 35px
                font-size: 28px

                &::after
                    width: 225px
.tooltip
  &::before
    padding 4px 10px
    background #fff
    color #000
    border-radius 12px
    font-size 12px
  &::after
    top 21px
    border-top-color #fff
