<!doctype html>
<html lang="en" ng-app="monitorsConstructor">
    <head>
        <meta charset="utf-8">
        <title>Создай свой кастом</title>
        <link href="css/reset.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />

        <script src="lib/angular/angular.js"></script>
        <script src="lib/lodash.min.js"></script>

        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/services.js"></script>
        <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    </head>
    <body ng-controller="MonitorsList">
        <div class="b-head">

            <div class="b-logo"><a href="/"><img src="img/logo.png" alt="Ambient Acoustics" /></a></div>
            <ol class="b-nav">
                <li class="b-nav-item"
                    ng-repeat="m in ['Модель','Цвет','Вставки','Рисунки','Провода','Другое','Доставка']"
                    ng-class="{active : $index == step - 1}">{{m}}</li>
            </ol>
        </div>
        <div class="b-construct" data-current="s1">
            <div class="b-step s1" ng-show="step == 1">
                <div class="b-models-list">
                    <div ng-repeat="m in steps.model.list"
                        ng-click="setModel($index)" 
                        ng-class="{active: steps.model.active.id == $index }">
                        {{m.name}}
                        <span class="sub">{{m.subname}}</span>
                    </div>
                </div>

                <div class="b-models-description">
                    <div class="model-intro" ng-show="steps.model.active.id == null">
                        <div class="wrap">
                            <div class="header">Добро пожаловать в помощник<br/>подбора ушных мониторов</div>
                            <div class="description">
                                Для начала выберите одну из моделей<br/>мониторов слева и нажмите<br/>кнопку "Выбрать"
                            </div>
                        </div>
                    </div>
                    <div class="model"
                        ng-repeat="m in steps.model.list"
                        ng-class="{active: steps.model.active.id == $index }">
                        <div class="model-head">
                            <div class="col1">
                                <img ng-src="img/{{m.img}}" />
                            </div>
                            <div class="col2">
                                <div class="header" ng-bind-html="html(m.title)">{{m.title}}</div>
                                <div class="pricing">
                                    <span class="b-btn btn-select" ng-click="confirmModel($index)">Выбрать</span>
                                    {{m.price}} грн
                                </div>
                            </div>
                        </div>
                        <div class="model-description">
                            <div class="col1" ng-bind-html="html(m.description)">{{m.description}}</div>
                            <div class="col2">
                                <div class="specs-title">Характеристики:</div>
                                <div class="specs" ng-repeat="s in m.specs">{{s}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="b-step s2" ng-show="step > 1">
                <div class="col1">
                    <div class="switcher-wrap">
                        <div class="switcher">
                            <div ng-click="setSame(true)" ng-class="{active: same}">одинаковые</div>
                            <div ng-click="setSame(false)" ng-class="{active: !same}">разные</div>
                        </div>
                    </div>
                    <div class="ears" ng-show="step < 7">
                        <div class="ear {{orient}}" ng-repeat="orient in ['left', 'right']">

                            <div class="ear-layer {{c.name}}"
                                ng-repeat="c in [steps.base, steps.cover, steps.chanel]"
                            >
                                <img class="first"
                                    src="i/{{c.list[c.active[orient].id].url}}"
                                    ng-show="maxStepComplete > 1"
                                />
                            </div>
                            <div class="ear-layer {{c.name}}"
                                ng-repeat="c in [steps.cap]"
                            >
                                <img class="first"
                                    src="i/{{c.list[c.active[orient].id].url}}"
                                    ng-show="maxStepComplete > 2"
                                />
                            </div>
                            <div class="ear-layer {{c.name}}"
                                ng-repeat="c in [steps.graphics]"
                            >
                                <img class="first"
                                    src="i/{{c.list[c.active[orient].id].url}}"
                                    ng-show="maxStepComplete > 3"
                                />
                            </div>
                            <div class="ear-layer {{c.name}}"
                                ng-repeat="c in [steps.pin, steps.cord]"
                            >
                                <img class="first"
                                    src="i/{{c.list[c.active[orient].id].url}}"
                                    ng-show="maxStepComplete > 4"
                                />
                            </div>
                        </div>
                    </div>

                    <script type="text/ng-template" id="selector">
                      <div class="selector" ng-class="{same: same}" data-type="{{sel.name}}"> 
                            <div class="selector-title">{{sel.title}}</div>
                            <div class="selector-items {{orient}}" ng-repeat="orient in ['left', 'right']">
                                <div class="selector-item"
                                    ng-repeat="i in sel.list"
                                    ng-class="{active: sel.active[orient].id == $index}"
                                    ng-click="select(orient, sel.name, $index)"
                                    style="background-image: url({{'i/' + i.url}})"></div>
                            </div>
                        </div>
                    </script>

                    <div class="controls" ng-show="step < 7">
                        <div ng-repeat="sel in [steps.base, steps.cover, steps.chanel]"
                            ng-show="step == 2"
                            ng-include="'selector'">
                        </div>
                        
                        <div ng-repeat="sel in [steps.cap]"
                            ng-show="step == 3"
                            ng-include="'selector'">
                        </div>
                        
                        <div ng-repeat="sel in [steps.graphics]"
                            ng-show="step == 4"
                            ng-include="'selector'">
                        </div>
                        
                        <div ng-repeat="sel in [steps.pin]"
                            ng-show="step == 5"
                            ng-include="'selector'">
                        </div>

                        <div ng-show="step == 5">
                            <div class="cord-table">
                                <div class="cord-col1">
                                    <div class="selector jack-selector">
                                        <div class="selector-title">Тип джека</div>
                                        <div class="selector-radio">
                                            <label for="angle"><img src="i/7-1.png"></label> 
                                            <input type="radio" ng-model="steps.jack.active" ng-value="steps.jack.angle" />

                                            <label for="straight"><img src="i/7-2.png"></label>
                                            <input type="radio" ng-model="steps.jack.active" ng-value="steps.jack.straight" />
                                        </div>
                                    </div>
                                </div>
                                <div class="cord-col2">
                                    <div ng-repeat="sel in [steps.cord]"
                                        ng-include="'selector'">
                                    </div>
                                </div>
                                <div class="cord-col3">
                                    <div class="selector cord-selector">
                                        <div class="selector-title">Длина провода</div>
                                        <div class="selector-radio">
                                            <div>
                                                <input type="radio" ng-model="steps.cordLength.active" value="small" />
                                                <label for="l100">100 см <img src="i/8-1.png"></label> 
                                            </div>
                                            <div>
                                                <input type="radio" ng-model="steps.cordLength.active" value="medium" />
                                                <label for="l130">130 см <img src="i/8-2.png"></label>
                                            </div>
                                            <div>
                                                <input type="radio" ng-model="steps.cordLength.active" value="large" />
                                                <label for="l160">160 см <img src="i/8-3.png"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div ng-show="step == 6">
                        <div class="misc">
                            <div class="misc-row">
                                <div class="misc-col1">

                                    <label>
                                        <input type="checkbox" ng-model="steps.engraving.active">Гравировка кейса
                                    </label>
                                    <div class="misc-desc" ng-show="steps.engraving.active">
                                        <input type="text" placeholder="Введите текст гравировки" ng-model="steps.engraving.text">
                                    </div>
                                </div>
                                <div class="misc-col2">
                                    <label>
                                        <input type="checkbox" ng-model="steps.ventilation.active">Сквозная вентиляция
                                    </label>
                                    <div class="misc-desc">
                                        Уменьшаяет звукоизоляцию до такого уровня, что остается базовая коммуникация с залом.
                                    </div>
                                </div>
                                <div class="misc-col3">
                                    <label>
                                        <input type="checkbox" ng-model="steps.filterSulfur">Установка серных фильтров
                                    </label>
                                    <div class="misc-desc">
                                        Используют чтобы сера и влага не попадала внутрь мониторов.
                                    </div>
                                </div>
                            </div>
                            <div class="misc-row">
                                <div class="misc-col1">
                                    <label>
                                        <input type="checkbox" ng-model="steps.filterAcoustic">Замена акустических фильтров либо установка новых
                                    </label>
                                    <div class="misc-desc">
                                        Влияют на характер звучания
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="shipping" ng-show="step == 7">
                        <div class="header">Адресс доставки</div>

                        <div class="shipping-form">
                            <label data-hint="Инициалы будут отпечатаны
    на крышке кейса">
                                Инициалы
                                <input type="text" ng-model="steps.customer.userName"/>
                            </label>
                            <label>
                                Имейл
                                <input type="text" ng-model="steps.customer.email"/>
                            </label>
                            <label>
                                Фамилия
                                <input type="text" ng-model="steps.customer.surname"/>
                            </label>
                            <label>
                                Имя
                                <input type="text" ng-model="steps.customer.name"/>
                            </label>
                            <label>
                                Отчество
                                <input type="text" ng-model="steps.customer.secondName"/>
                            </label>
                            <label data-hint1="Улица, дом, квартира">
                                Адрес
                                <input type="text" ng-model="steps.customer.address"/>
                            </label>
                            <label>
                                Город
                                <input type="text" ng-model="steps.customer.city"/>
                            </label>
                            <label>
                                Страна
                                <input type="text" ng-model="steps.customer.country"/>
                            </label>
                            <label>
                                <span>Почтовый индекс</span>
                                <input type="text" ng-model="steps.customer.zip"/>
                            </label>
                            <label>
                                Телефон
                                <input type="text" ng-model="steps.customer.phone"/>
                            </label>
                            <label>
                                Примечания
                                <textarea ng-model="steps.customer.misc"></textarea>
                            </label>

                            <div class="btn-submit">
                                <div class="submit b-btn">Отправить заказ</div>
                            </div>
                        </div>

                    </div>




                </div>
                <div class="col2">
                    <div class="continue" ng-show="step < 7">
                        <span class="b-btn btn-continue" ng-click="nextStep()">
                            Продолжить
                        </span>
                    </div>
                    <div class="total">
                        <div class="header">
                            <div class="title">Общая стоимость</div>
                            <div class="price">{{ totalPrice() }} грн</div>
                        </div>
                        <div class="details">
                            <div class="details-row">
                                <div class="value">{{ [steps.model.active.name, steps.model.active.subname].join(' ')}}</div>
                                <div class="price">{{ steps.model.active.price }} грн</div>
                            </div>

                            <script type="text/ng-template" id="summary-row">
                                <div class="value">
                                    {{ steps[i].title }}
                                    <div class="hint">{{ getSelItem(i) }}</div>
                                </div>
                                <div ng-if="steps[i].active.price" class="price">{{ steps[i].active.price }} грн</div>
                            </script>
                            <div class="details-row" ng-repeat="i in ['base', 'cover', 'chanel']"
                                ng-show="maxStepComplete > 1"
                                ng-include="'summary-row'"
                            ></div>

                            <div class="details-row" ng-repeat="i in ['cap']"
                                ng-show="maxStepComplete > 2"
                                ng-include="'summary-row'"
                            ></div>

                            <div class="details-row" ng-repeat="i in ['graphics']"
                                ng-show="maxStepComplete > 3"
                                ng-include="'summary-row'"
                            ></div>

                            <div class="details-row" ng-repeat="i in ['pin', 'cord']"
                                ng-show="maxStepComplete > 4"
                                ng-include="'summary-row'"
                            ></div>
                          
                            <div class="details-row" ng-show="maxStepComplete > 4">
                                <div class="value">
                                    Тип джека
                                    <div class="hint">{{ steps.jack.active }}</div>
                                </div>
                            </div>

                            <div class="details-row" ng-show="maxStepComplete > 4">
                                <div class="value">
                                    Длина провода
                                    <div class="hint">{{ steps.cordLength[steps.cordLength.active].name }}</div>
                                </div>
                                <div ng-if="steps.cordLength[steps.cordLength.active].price" class="price">{{ steps.cordLength[steps.cordLength.active].price }} грн</div>
                            </div>

                            <div class="details-row" ng-show="steps.engraving.active && steps.engraving.text.length > 0">
                                <div class="value">
                                    Гравировка кейса
                                    <div class="hint">{{ steps.engraving.text }}</div>
                                </div>
                            </div>

                            <div class="details-row" ng-show="steps.ventilation.active">
                                <div class="value">
                                    Сквозная вентиляция
                                </div>
                                <div class="price">{{ steps.ventilation.price }} грн</div>
                            </div>

                            <div class="details-row" ng-show="steps.filterSulfur">
                                <div class="value">
                                    Установка серных фильтров
                                </div>
                            </div>

                            <div class="details-row" ng-show="steps.filterAcoustic">
                                <div class="value">
                                  Замена акустических фильтров либо установка новых
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
